.imgsalao{
   margin-top: 25px;
}

.texto_salao h1{
   font-size: 70px;
   text-align: center;
   font-weight: bold;
}

.texto_salao h2{
   font-size: 30px;
   text-align: center;
   font-weight: bold;
}